@font-face
    font-family 'Corporate'
    src url('CorporatesLight.woff') format("woff")
    font-weight 300
    font-style normal

@font-face
    font-family 'Corporate'
    src url('CorporatesRegular.woff') format("woff")
    font-weight 400
    font-style normal

@font-face
    font-family 'CorporateCons'
    src url('CorporateACon.woff') format("woff")
    font-weight 400
    font-style normal
